.links {
  color: #cdcdcd;
  font-size: 30px;
  display: block;
}
.box {
  width: 100px;
  height: 200px;
  background: #b667ff;
}
.box .inside {
  height: 100%;
  border-radius: 50%;
  background: #ff2020;
}
.box .inside a {
  color: #cdcdcd;
  font-size: 30px;
  display: block;
}
